.main_banner{
    background-image: url(./banner1.jpg);
    background-size: 100%;
    height:500px;
}


.slider{
    background-image: url(./slider1.jpg);
    background-size: 100%;
    height: 700px;
}
.imgheight{
    height: 400px;
}
.form{
    background-image: url(./spices-bg.jpg);
    background-size: 100%;
    height: 500px;
}